<li class="group">
  <time datetime="2015-01">01/2015</time>
  <h3>Google Analytics Individual Certification</h3>
  <p>
    <em
      >see my
      <a
        href="https://google.com/partners/#i_profile;idtf=115661766906487570777;"
        target="_blank"
        >Google Partners Profile</a
      ></em
    >
  </p>
</li>
