.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  .content {
    width: 100%;
    padding: 0 5vw;
    @media (min-width: $screen-sm) {
      padding: 0 10vw;
    }
  }

  &.deck {
    background-size: cover;
    background-position: center center;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    height: 100vh;

    .content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
    }
  }

  /* positions */
  &.is-left {
    left: -100%;
  }
  &.is-right {
    left: 100%;
  }
  &.is-above {
    top: -100%;
  }
  &.is-beneath {
    top: 100%;
  }

  &.is-out {
    overflow: hidden;
    width: 0;
  }

  &.no-animation {
    -webkit-transition: none !important;
    transition: none !important;
  }

  /* transitions */
  $transition-speed: 0.8s;
  $transistion-left: left $transition-speed ease-out;
  $transistion-top: top $transition-speed ease-out;
  $transistion-width: width 0s linear;

  -webkit-transition: #{$transistion-left}, #{$transistion-top},
    #{$transistion-width} 0s;
  transition: #{$transistion-left}, #{$transistion-top},
    #{$transistion-width} 0s;

  &.is-out {
    -webkit-transition: #{$transistion-left}, #{$transistion-top},
      #{$transistion-width} $transition-speed;
    transition: #{$transistion-left}, #{$transistion-top},
      #{$transistion-width} $transition-speed;
  }
}
