html,
body {
  font-size: 16px;
  font-family: "Raleway", "Helvetica Neue", "Arial", sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: auto;

  &.hide-scrollbar {
    overflow-y: hidden;
  }
}

a {
  text-decoration: none;

  /* bracked link style */
  &.bracked {
    font-weight: 200;

    &::before,
    &::after {
      display: inline-block;
      opacity: 0;
      -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
      -moz-transition: -moz-transform 0.3s, opacity 0.2s;
      transition: transform 0.3s, opacity 0.2s;
    }

    &::before {
      margin-right: 10px;
      content: "[";
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      transform: translateX(20px);
    }

    &::after {
      margin-left: 10px;
      content: "]";
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      transform: translateX(-20px);
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
      }
    }
  }

  /* underlined */
  &.underlined {
    position: relative;
    padding: 0 0 4px;

    &:after {
      background: none repeat scroll 0 0 #fff;
      content: "";
      height: 1px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 100%;
      transform: translateY(-10px);
      transition: height 0.3s ease 0s, opacity 0.3s ease 0s,
        transform 0.3s ease 0s;
      width: 100%;
    }
    &:hover:after,
    &:focus:after {
      height: 3px;
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

ul {
  padding: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;

  @media print {
    page-break-inside: avoid;
  }
}

.svg-wrap {
  display: none;
}

.boxed {
  word-wrap: break-word;
  vertical-align: middle;

  span,
  li,
  small {
    display: inline;
    padding: 0 0.3em;
    line-height: 1.3;
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}

.is-name {
  white-space: nowrap;
}

.hidden {
  display: none;
}
