// font base dir
$fontdir: "../fonts/";

// font-awesome
$myname: "font-awesome";
$mydir: $fontdir + $myname + "/";
$fa-font-path: $mydir;
@import "font-awesome/font-awesome.scss";

// Latin Modern Roman
$myname: "latinmodernroman";
$mydir: $fontdir + $myname + "/";

@font-face {
  font-family: $myname;
  src: url($mydir + "lmroman10-regular-webfont.eot");
  src: url($mydir + "lmroman10-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url($mydir + "lmroman10-regular-webfont.woff") format("woff"),
    url($mydir + "lmroman10-regular-webfont.ttf") format("truetype"),
    url($mydir + "lmroman10-regular-webfont.svg#latin_modern_roman10_regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $myname;
  src: url($mydir + "lmromandemi10-regular-webfont.eot");
  src: url($mydir + "lmromandemi10-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url($mydir + "lmromandemi10-regular-webfont.woff") format("woff"),
    url($mydir + "lmromandemi10-regular-webfont.ttf") format("truetype"),
    url($mydir + "lmromandemi10-regular-webfont.svg#latin_modern_roman_demi10Rg")
      format("svg");
  font-weight: 700;
  font-style: normal;
}

// ralway
$myname: "raleway";
$mydir: $fontdir + $myname + "/";

/*
@font-face {
    font-family: $myname;
    src: url($mydir+'-thin-webfont.eot');
    src: url($mydir+'raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url($mydir+'raleway-thin-webfont.woff2') format('woff2'),
         url($mydir+'raleway-thin-webfont.woff') format('woff'),
         url($mydir+'raleway-thin-webfont.ttf') format('truetype'),
         url($mydir+'raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: 100;
    font-style: normal;
}
*/

@font-face {
  font-family: $myname;
  src: url($mydir + "raleway-extralight-webfont.eot");
  src: url($mydir + "raleway-extralight-webfont.eot?#iefix")
      format("embedded-opentype"),
    url($mydir + "raleway-extralight-webfont.woff2") format("woff2"),
    url($mydir + "raleway-extralight-webfont.woff") format("woff"),
    url($mydir + "raleway-extralight-webfont.ttf") format("truetype"),
    url($mydir + "raleway-extralight-webfont.svg#ralewayextralight")
      format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: $myname;
  src: url($mydir + "raleway-light-webfont.eot");
  src: url($mydir + "raleway-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url($mydir + "raleway-light-webfont.woff2") format("woff2"),
    url($mydir + "raleway-light-webfont.woff") format("woff"),
    url($mydir + "raleway-light-webfont.ttf") format("truetype"),
    url($mydir + "raleway-light-webfont.svg#ralewaylight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $myname;
  src: url($mydir + "raleway-regular-webfont.eot");
  src: url($mydir + "raleway-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url($mydir + "raleway-regular-webfont.woff2") format("woff2"),
    url($mydir + "raleway-regular-webfont.woff") format("woff"),
    url($mydir + "raleway-regular-webfont.ttf") format("truetype"),
    url($mydir + "raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $myname;
  src: url($mydir + "raleway-medium-webfont.eot");
  src: url($mydir + "raleway-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url($mydir + "raleway-medium-webfont.woff2") format("woff2"),
    url($mydir + "raleway-medium-webfont.woff") format("woff"),
    url($mydir + "raleway-medium-webfont.ttf") format("truetype"),
    url($mydir + "raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

/*
@font-face {
    font-family: $myname;
    src: url($mydir+'raleway-semibold-webfont.eot');
    src: url($mydir+'raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url($mydir+'raleway-semibold-webfont.woff2') format('woff2'),
         url($mydir+'raleway-semibold-webfont.woff') format('woff'),
         url($mydir+'raleway-semibold-webfont.ttf') format('truetype'),
         url($mydir+'raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
*/

/*

@font-face {
    font-family: $myname;
    src: url($mydir+'raleway-bold-webfont.eot');
    src: url($mydir+'raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($mydir+'raleway-bold-webfont.woff2') format('woff2'),
         url($mydir+'raleway-bold-webfont.woff') format('woff'),
         url($mydir+'raleway-bold-webfont.ttf') format('truetype'),
         url($mydir+'raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: 700;
    font-style: normal;
}
*/

/*
@font-face {
    font-family: $myname;
    src: url($mydir+'raleway-extrabold-webfont.eot');
    src: url($mydir+'raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url($mydir+'raleway-extrabold-webfont.woff2') format('woff2'),
         url($mydir+'raleway-extrabold-webfont.woff') format('woff'),
         url($mydir+'raleway-extrabold-webfont.ttf') format('truetype'),
         url($mydir+'raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}
*/

/*
@font-face {
    font-family: $myname;
    src: url($mydir+'raleway-heavy-webfont.eot');
    src: url($mydir+'raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url($mydir+'raleway-heavy-webfont.woff2') format('woff2'),
         url($mydir+'raleway-heavy-webfont.woff') format('woff'),
         url($mydir+'raleway-heavy-webfont.ttf') format('truetype'),
         url($mydir+'raleway-heavy-webfont.svg#ralewayheavy') format('svg');
    font-weight: 900;
    font-style: normal;
}
*/
