@mixin vmax($property, $size) {
  #{$property}: #{$size}vw;
  @media (orientation: portrait) {
    #{$property}: #{$size}vh;
  }
}

@mixin boxed($first: "*", $second: "span, li, small") {
  #{$first}.boxed {
    #{$second} {
      @content;
    }
  }
}
@mixin boxed-color(
  $color: inherit,
  $text: inherit,
  $first: "*",
  $second: "span, li, small"
) {
  @include boxed($first, $second) {
    background-color: $color;
    color: $text;
  }
}

@mixin project-color(
  $main,
  $main-text,
  $highlight,
  $highlight-text,
  $secondary,
  $secondary-text
) {
  color: $main-text;
  background-color: darken($main, 7);

  .image {
    .wrapper {
      background-color: rgba($main, 0.9);
      @media (min-width: $screen-lg) {
        background-color: $main;
      }
      .content {
      }
    }
  }

  a {
    color: $secondary;
    &.underlined:after {
      background-color: $secondary;
    }
  }

  @include boxed-color($secondary, $secondary-text);
  @include boxed-color($highlight, $highlight-text, ".important");
}
