$left-col-width: 210px;
$total-width: 800px;
$effect-start: 1300px;

#mycv {
  background-color: white;
  height: 100%;
}

#mycv .content {
  color: #000;
  font-family: "latinmodernroman", "Times New Roman", serif;
  font-size: 1.25em;

  max-width: $total-width;
  width: auto;
  margin: auto;
  margin-bottom: 4em;
  font-weight: normal;
  @media (min-width: $effect-start) {
    margin-top: 234px + 2 * 54px;
    margin-bottom: 8em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }
  h1 {
    font-size: 2.4em;
    @media (min-width: $screen-sm) {
      font-size: 4.2em;
    }
    small {
      font-size: 70%;
    }

    @media print {
      margin-top: 0;
      line-height: 1.2;
    }

    @media (min-width: $effect-start) {
      & {
        position: absolute;
        top: 0;
        left: calc((100% - #{$total-width}) / 2);
        width: 100%;
        box-sizing: border-box;
        padding: 0;

        $transition-time: 0.2s;
        -webkit-transition-property: font-size, left, width, padding;
        transition-property: font-size, left, width, padding;
        -webkit-transition-duration: $transition-time;
        transition-duration: $transition-time;
      }

      &.at-side {
        position: fixed;
        left: 0;
        font-size: 2em;
        width: calc((100% - #{$total-width}) / 2);
        padding: 0 30px;
      }
    }
    @media (min-width: 1450px) {
      &.at-side {
        font-size: 2.75em;
        padding: 0 40px;
      }
    }
  }

  h2 {
    font-size: 2.4em;
    @media (min-width: $screen-sm) {
      font-size: 2.75em;
      margin-top: 1.25em;
    }
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    small {
      font-size: 100%;
      font-weight: normal;
    }
  }
  h5 {
    font-size: 0.83em;
  }

  address {
    font-size: 1.15em;
    font-style: normal;
    margin-bottom: 36px;
  }

  time:only-of-type,
  .time {
    font-size: 1.15em;
    margin-top: 36px;
    display: block;

    & + h3 {
      margin-top: 0;
    }
  }

  p {
    text-align: justify;
  }

  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
  .stand-out {
    width: 100%;
    margin: 21px 0 0 -5vw;
    border: 4px double black;
    border-left-width: 0;
    border-right-width: 0;
    padding: 21px 5vw;

    h4 {
      @extend h3;
    }

    h5 {
      margin-bottom: 0;
      display: inline;
      &::after {
        content: ":";
      }
    }

    ul {
      display: inline;
      li {
        display: inline;
        font-size: 0.83em;
        &:not(:last-child)::after {
          content: ",";
        }
      }
    }

    @media (min-width: $screen-sm) {
      border: 1px solid black;
      padding: 21px 5vw;
    }

    @media (min-width: $screen-md) {
      margin-left: -42px;
      padding: 21px 42px;
    }

    @media print {
      border: 1px solid black;
      margin: 21px 0 0 -9mm;
      padding: 21px 9mm;
      width: calc(100% - 1px);
      page-break-inside: avoid;
    }

    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }

  .left-setted {
    & > h4,
    & > strong {
      display: block;
      margin: 21px 0 0 0;
      @media (min-width: $screen-md) {
        display: inline;
        width: $left-col-width;
        float: left;
      }

      & ~ ul,
      & ~ p,
      & ~ span,
      & ~ em {
        @media (min-width: $screen-md) {
          margin: 21px 0 0 0;
          float: right;
          width: calc(100% - #{$left-col-width});
        }

        & + ul,
        & + p,
        & + span,
        & + em {
          margin-top: 0;
        }
      }
    }

    &:last-child > h4 + ul {
      margin-bottom: 21px;
    }

    @media (min-width: $screen-md) {
      &.condensed {
        & > h4,
        & > strong {
          margin: 0;
          & ~ ul,
          & ~ p,
          & ~ span,
          & ~ em {
            margin: 0;
          }
        }
      }
    }
  }

  ul.list-inline {
    padding: 0;
    li {
      display: inline;
      &:not(:last-child)::after {
        content: ",";
      }
    }
  }
}
