$nav-bg-color: rgba(#000, 0.3);

/*--------------------*/
/* Grow Pop */
/*--------------------*/
.nav-popup {
  font-size: 16px;
  font-family: "Raleway", "Helvetica Neue", "Arial", sans-serif;

  &.is-fixed {
    .icon-wrap {
      position: fixed;
    }
    div {
      position: fixed;
    }
  }

  .icon-wrap {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    z-index: 100;
    display: block;
    height: 32px;
    padding: 20px 10px;
    border: 0px solid $nav-bg-color;
    background: $nav-bg-color;
    -webkit-transition: padding 0.3s 0.15s;
    transition: padding 0.3s 0.15s;

    svg.icon {
      fill: #fff;
    }
  }

  a.down,
  a.up {
    .icon-wrap {
      top: auto;
      left: 50vw;
      transform: translateX(-50%);
      height: 32px;
      padding: 10px 20px;
    }
  }

  div {
    position: absolute;
    top: 50vh;
    padding: 20px;
    width: 112px;
    height: 112px;
    background: transparent no-repeat center center / cover;
    background-image: linear-gradient(rgba(#000, 0.7), rgba(#000, 0.7));
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;

    span {
      display: block;
      padding-bottom: 5px;
      border-bottom: 1px solid #ddd;
      color: #cdcdcd;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 0.7em;
      line-height: 1.2;
    }

    h3 {
      margin: 0;
      padding: 8px 0 10px;
      color: #ffffff;
      font-weight: 300;
      font-size: 1.325em;
      line-height: 1.2;
    }
  }

  a.down,
  a.up {
    div {
      top: auto;
      left: 50vw;
    }
  }

  a.prev {
    .icon-wrap {
      left: 0;
      padding-left: 7px;
    }

    div {
      left: 0;
      margin-left: 53px;
      text-align: right;
      -webkit-transform: translateY(-50%) translateX(-100%) scale(0.75);
      transform: translateY(-50%) translateX(-100%) scale(0.75);
    }
  }

  a.next {
    .icon-wrap {
      right: 0;
      padding-right: 7px;
      svg {
        transform: rotate(180deg);
      }
    }

    div {
      right: 0;
      margin-right: 53px;
      text-align: left;
      -webkit-transform: translateY(-50%) translateX(100%) scale(0.75);
      transform: translateY(-50%) translateX(100%) scale(0.75);
    }
  }

  a.up {
    .icon-wrap {
      top: 0;
      padding-top: 7px;
      svg {
        transform: rotate(90deg);
      }
    }

    div {
      top: 0;
      margin-top: 53px;
      text-align: center;
      -webkit-transform: translateY(-100%) translateX(-50%) scale(0.75);
      transform: translateY(-100%) translateX(-50%) scale(0.75);
    }
  }

  a.down {
    .icon-wrap {
      bottom: 0;
      padding-bottom: 7px;
      svg {
        transform: rotate(-90deg);
      }
    }

    div {
      bottom: 0;
      margin-bottom: 53px;
      text-align: center;
      -webkit-transform: translateY(100%) translateX(-50%) scale(0.75);
      transform: translateY(100%) translateX(-50%) scale(0.75);
    }
  }

  a:hover {
    &.next,
    &.prev {
      .icon-wrap {
        padding-top: 60px;
        padding-bottom: 60px;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }
    }
    &.down,
    &.up {
      .icon-wrap {
        padding-left: 60px;
        padding-right: 60px;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }
    }

    &.next,
    &.prev {
      div {
        opacity: 1;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
        -webkit-transform: translateY(-50%) translateX(0) scale(1);
        transform: translateY(-50%) translateX(0) scale(1);
      }
    }

    &.down,
    &.up {
      div {
        opacity: 1;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
        -webkit-transform: translateY(0) translateX(-50%) scale(1);
        transform: translateY(0) translateX(-50%) scale(1);
      }
    }
  }

  /*--------------------*/
  /* Targets */
  /*--------------------*/
  $nav-gradient: linear-gradient(rgba(#000, 0.5), rgba(#000, 0.5));
  $nav-gradient-dark: linear-gradient(rgba(#000, 0.7), rgba(#000, 0.7));

  a.mycv {
    div {
      background-image: #{$nav-gradient}, url("../images/nav-cv.jpg");
    }
  }
  a.start {
    div {
      background-image: #{$nav-gradient}, url("../images/nav-start-hawkes.jpg");
    }
  }
  a.profiles {
    div {
      // background-image: #{$nav-gradient-dark}, url("../images/nav-profiles.jpg");
    }
  }
  a.projects {
    div {
      background-image: #{$nav-gradient-dark}, url("../images/nav-projects.jpg");
    }
  }
  a.pay-report {
    div {
      background-image: #{$nav-gradient-dark},
        url("../images/nav-pay-report.jpg");
    }
  }
}

@media print {
  .nav-popup {
    display: none;
  }
}

/*--------------------*/
/* Transition */
/*--------------------*/
