#pay-report {
  z-index: 5;
  background-color: $tertiary;
}

#pay-report .content {
  color: $tertiary-text;

  font-size: 1em;
  @media (min-width: $screen-md) {
    font-size: 1.2em;
  }

  @include boxed-color(rgba($tertiary-complementary, 1));

  h2 {
    margin: 10px 0 4vw;
    @include vmax(margin-bottom, 4);
    font-weight: 400;
    @include vmax(font-size, 5);
  }

  table.data {
    width: 100%;
  }

  table + sub {
    white-space: pre-wrap;
  }

  th,
  td {
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 100%;
    padding: 0.7ex;

    &.line-break {
      white-space: pre;
    }

    &.break {
      white-space: normal;
    }

    &.role .year,
    &.salary .hours {
      display: none;
    }

    &.clear {
      display: none;
    }
  }

  @media (max-width: $screen-xssm) {
    table,
    tbody,
    th {
      display: block;
    }
    thead {
      display: none;
    }

    tr {
      display: block;
      padding: 1ex 0;
    }

    td {
      padding: 0;
      display: inline-block;

      &.year,
      &.hours,
      &.benefits {
        display: none;
      }

      &.role .year,
      &.salary .hours {
        display: inline;
      }

      $info-width: 45%;

      &.role {
        width: 70%;
        float: left;
      }

      &.salary {
        float: right;
        text-align: right;
      }

      &.clear {
        display: block;
        clear: both;
      }
    }
  }
}

span.flag {
  display: inline-block;
  font-variant: small-caps;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  width: 1.3em;
  height: 2.5ex;

  &.flag-de {
    background-image: url("../images/flags/de.png");
  }
  &.flag-nz {
    background-image: url("../images/flags/nz.png");
  }
  &.flag-uk {
    background-image: url("../images/flags/uk.png");
  }
}
