/**
Content:     BG, Text
Top tags:    BG, Text
Bottom tags: BG + Links, Text
*/

.project {
  &.beeb {
    @include project-color(
      #480d6b,
      #f9f9f9,
      #121212,
      #00f0cc,
      #00f0cc,
      #121212
    );
  }
  &.taipeh {
    @include project-color(#5d19ab, #ffffff, #e52f2c, #000000, $main, #000000);
  }
  &.darkknight {
    @include project-color(
      #333333,
      #ffffff,
      #080808,
      #ffffff,
      #ffffff,
      #000000
    );
  }
  &.icony {
    @include project-color(
      #90c029,
      #ffffff,
      #e52f2c,
      #000000,
      #595a99,
      #ffffff
    );
  }
  &.froggy {
    @include project-color(
      #f9fce8,
      #000000,
      #009e37,
      #ffffff,
      #485247,
      #ffffff
    );
  }
  &.cinnamon {
    @include project-color(#873f01, #fff, #007aaf, #3e0c00, #e07628, #3e0c00);
  }
  &.eku {
    @include project-color(
      #ffffff,
      #4c4c4c,
      #960018,
      #ffffff,
      #d4b44a,
      #4c4c4c
    );
  }
  &.thecolorofscience {
    @include project-color(
      #ebecee,
      #39586a,
      #8c1d24,
      #ffffff,
      #39586a,
      #eeeeee
    );
  }
  &.postalred {
    @include project-color(
      #ffffff,
      #424a50,
      #0076a3,
      #ffffff,
      #dc0000,
      #ffffff
    );
  }
  &.botjuice {
    @include project-color(
      #52ba87,
      #202020,
      #2da6f4,
      #ffffff,
      #b10300,
      #ffffff
    );
  }
  &.lotusblue {
    @include project-color(
      #ffffff,
      #000000,
      #aad9fb,
      #282828,
      #60b8f7,
      #ffffff
    );
  }
  &.sunset {
    @include project-color(
      #f8ece0,
      #000000,
      #f8ece0,
      #993000,
      #bf7119,
      #fff9c9
    );
  }
  &.wellington {
    @include project-color(
      #b492b5,
      #222222,
      #eb6864,
      #ffffff,
      #276bbc,
      #ebebeb
    );
  }
}

/**
Content:     BG, Text
Top tags:    BG, Text
Bottom tags: BG + Links, Text
*/
