$border-color: #000;
$border-width: 7px;
$bg-color: #cd4436;
$bg-color: rgba(#90c029, 0.8);
$bg-color: rgba(#000, 0.3);
$default-color: #fff;
$angle: 20deg;
$wrapper-sizer: 2;
$distance-left: -120%;
$distance-left-lg: -150%;
$distance-left-image-lg: 38%;
$distance-left-lg-factor: 100% / (100% - $distance-left-image-lg);

#projects {
  z-index: 5;
  height: 100%;
}

body.hide-scrollbar #projects {
  overflow-y: scroll;
}

.project {
  box-sizing: border-box;
  width: 100%;
  background-color: $bg-color;
  padding: 50px 0;

  /* Project Boxes */
  .spacer {
    border-top: 7px solid $border-color;
    border-bottom: 7px solid $border-color;

    .image {
      background: none no-repeat scroll center top / cover $border-color;

      .wrapper {
        position: relative;
        box-sizing: content-box;
        width: 100%;
        background-color: $default-color;

        .content {
          box-sizing: border-box;
          width: 100%;
          padding: 20px;
        }
      }
    }
  }

  /* Skewed boxes */
  @media (min-width: $screen-sm) {
    padding: 80px 0;

    .spacer {
      .image {
        @media (min-width: $screen-lg) {
          background-position: left top;
          &.centered {
            background-position: center top;
          }
          position: relative;
          left: $distance-left-image-lg;
          width: 100% - $distance-left-image-lg;
        }
        .wrapper {
          width: 100% * $wrapper-sizer;
          transform: skew($angle);
          border-right: $border-width solid $border-color;
          margin-right: -1 * $border-width;
          left: $distance-left;

          @media (min-width: $screen-lg) {
            left: ($distance-left-lg - $distance-left-image-lg) *
              $distance-left-lg-factor;
            width: 100% * $wrapper-sizer * $distance-left-lg-factor;
          }

          .content {
            transform: skew(-1 * $angle);
            min-height: calc(100vh - 2 * 80px);
            width: (100% * $wrapper-sizer + $distance-left) / $wrapper-sizer;
            margin-left: $distance-left * -1/2;
            padding-right: 100px;
            & > :nth-child(-n + 2) {
              margin-right: 40px;
            }
            @media (min-width: $screen-lg) {
              width: (100% * $wrapper-sizer + $distance-left-lg) /
                $wrapper-sizer;
              margin-left: $distance-left-lg * -1/2;
              padding: 30px 100px 20px 30px;
            }
          }
        }
      }
    }

    /* Flipped */
    &:nth-child(2n) {
      .image {
        .wrapper {
          transform: skew(-1 * $angle);
          .content {
            transform: skew($angle);
          }
        }
      }
    }
  }

  h2 {
    font-size: 2em;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0.375em 0 0.625em;
    word-wrap: break-word;
    small {
      line-height: 100%;
    }

    @media (min-width: $screen-sm) {
      font-size: 2.7em;
    }
  }

  p {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 1.5em;
    @media (min-width: $screen-sm) {
      font-size: 1.25em;
    }
  }

  ul {
    margin-bottom: 0;

    &.skills > * {
      line-height: 1.5;
    }
    &.links {
      list-style: outside none none;
      li {
        margin-bottom: 10px;
        word-wrap: break-word;
        a {
          font-weight: 500;
        }
      }
      @media (min-width: $screen-sm) {
        font-size: 1.25em;
      }
    }
  }

  @include boxed {
    font-size: 1em;
    font-weight: 200;
    color: $secondary-text;
    background-color: $secondary;
    @media (min-width: $screen-sm) {
      font-size: 1.25em;
    }
  }
}

@import "projects-colorsets";
