#profiles {
  z-index: 5;
  background-color: $complementary;
}

#profiles .content {
  padding: 0 2vw;
  @media (min-width: $screen-xs) {
    padding: 0 5vw;
  }

  color: $complementary-text;
  font-size: 1.4em;
  @media (min-width: $screen-sm) {
    font-size: 2em;
  }

  @include boxed-color(rgba($main, 1));

  h2 {
    margin: 10px 0 4vw;
    @include vmax(margin-bottom, 4);
    font-weight: 400;
    @include vmax(font-size, 5);
  }

  ul {
    text-align: center;
    margin: auto;
    max-width: 1000px;

    li {
      list-style: none;
      display: block;
      @media (min-width: $screen-xs) {
        display: inline-block;
      }
      padding: 0.5em 0;
      @media (min-width: $screen-sm) {
        padding-left: 1em;
        padding-right: 1em;
      }
      span {
        padding-right: 0.3em;
      }
    }
  }

  a.bracked {
    color: $complementary-text;
  }
}
