#start {
  z-index: 5;
  background-image: url("../images/start_hawkes.jpg");
  background-position: left top;
}

#start .content {
  color: $main-text;
  font-weight: 200;

  h1 {
    @include vmax(font-size, 5.5);
    margin: 10px 0 4%;
    @include vmax(margin-bottom, 5.5);
  }
  @include boxed(h1, span) {
    background-color: rgba($main, 0.7);
  }
  @include boxed(h1, small) {
    @include vmax(font-size, 3);
    float: right;
    font-weight: 200;
    background-color: rgba($complementary, 0.7);
  }

  h2 {
    font-weight: 200;
    margin-bottom: 10px;
    @include vmax(font-size, 4);
  }
  @include boxed(h2) {
    background-color: rgba($complementary, 0.7);
  }

  ul {
    margin: auto;
    @include vmax(font-size, 3);
  }
  @include boxed(ul) {
    color: $secondary-text;
    background-color: rgba($secondary, 0.7);
  }

  @media (min-width: $screen-sm) {
    h1 {
      @include vmax(font-size, 5);
      @include vmax(margin-bottom, 4);
    }
    @include boxed(h1, small) {
      @include vmax(font-size, 2.5);
    }
    h2 {
      @include vmax(font-size, 3.5);
    }
    ul {
      max-width: 50vw;
      @include vmax(font-size, 2.5);
    }
  }

  @media (min-width: $screen-md) {
    @include boxed(h1, small) {
      @include vmax(font-size, 2);
    }
    ul {
      max-width: 70vw;
      @include vmax(font-size, 2);
    }
  }
}

#start {
  .photo-credit {
    position: absolute;
    top: 1em;
    right: 1em;

    @media (min-width: $screen-sm) {
      bottom: 1em;
      left: 1em;
      top: auto;
      right: auto;
    }

    span {
      background-color: rgba(158, 158, 158, 0.7);
    }
  }
}
