/*
Small devices (tablets, 768px and up): @media (min-width: $screen-sm) { ... }
Medium devices (desktops, 992px and up): @media (min-width: $screen-md) { ... }
Large devices (large desktops, 1200px and up): @media (min-width: $screen-lg) { ... }
*/
$screen-xs: 480px;
$screen-xssm: 650px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

/* Colors */
$main: #fdc613;
$main-text: #fff;

$complementary: #5d19ab;
$complementary-text: #fff;

$secondary: #e52f2c;
$secondary-text: #000;

$tertiary: #a9eed1;
$tertiary-text: #333;
$tertiary-complementary: #eeb3a9;
