---
layout: section.hbs
---
<section class="page is-out is-right" id="mycv">
  <div class="content">
    <h1>
      <small>Public CV of</small>
      <br>
      Moritz Kornher
    </h1>

    <address>
      <a href="tel:+447955653799">+44 7 955 653 799</a><br>
      <a href="mailto:mail@moritzkornher.de">mail@moritzkornher.de</a><br>
      <a href="https://maps.app.goo.gl/cMMttWTYpyGMzq599" target="_blank">
        1/2 2 Herriet Street, Glasgow G41 2RQ, United Kingdom
      </a><br>
      <a href="https://moritzkornher.de">https://moritzkornher.de</a><br>
    </address>

    <ul>
      <li class="group left-setted condensed">
        <strong>Locations</strong> <span>Remote or Glasgow, Scotland or New Zealand</span>
      </li>
      <li class="group left-setted condensed">
        <strong>Current Position</strong> <span>Software Development Engineer at AWS</span>
      </li>
    </ul>


    <h2>Introduction</h2>
    <p>A full stack cloud architect with a B.Sc. in Computer Science and Media and a strong academic background. I'm
      passionate about making the people in my teams better since I became a scout leader as a teenager. Exploring the
      latest technologies and introducing them to my work projects made me a fast adapting learner. With
      an eye for detail and quality, I'm aiming for the best solution.</p>
    <p>At university I got started with web development. First self-employment and later with the award winning internet agency 21TORR.
      As Lead Developer at Prefer, I started to explore Conversational AI and my role at the BBC allowed me to deepen my expertise
      in this area. The focus on human computer interaction and evaluation puts me in a unique position in the industry.
      I expect the future to be an AI first world and am convinced we can leverage it's benefits to bring human computer
      interaction to the next level.</p>
    <p>My current work at AWS revolve around open source, infrastructure as code, and generative AI.</p>

    <h2>Work Experience</h2>
    <ul>
      <li>
        <div class="time">
          <time datetime="2022-07-01">07/2022</time>
          -
          <time datetime="today">Present</time>
        </div>
        <h3>
          Amazon Web Services, Remote<br>
          Software Development Engineer 
        </h3>
      </li>
      <li>
        <div class="time">
          <time datetime="2021-07-01">07/2021</time>
          -
          <time datetime="2022-05-15">05/2022</time>
        </div>
        <h3>
          Administrate, Remote<br>
          Staff Engineer
        </h3>
        <p>
          Administrate is a growth stage startup offering a Training Management Platform to enterprise customers.
          Its focus on scale and integrations makes it uniquely suitable for businesses with worldwide operations.
        </p>
        <ul>
          <li class="group left-setted">
            <h4>Responsibilities</h4>
            <ul>
              <li>Python development</li>
              <li>GraphQL development</li>
              <li>Container management</li>
              <li>DevOps</li>
              <li>Infrastructure management</li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Projects</h4>
            <ul>
              <li>Administrate - Enterprise Training Management Platform</li>
              <li>Internal Cloud based Developer Platform</li>
            </ul>
          </li>
        </ul>
      </li>      
      <li>
        <div class="time">
          <time datetime="2018-11-01">11/2018</time>
          -
          <time datetime="2021-06-10">06/2021</time>
        </div>
        <h3>
          BBC <span class="is-name">Design + Engineering</span>, Glasgow<br>
          Senior Software Engineer for <span class="is-name">Voice + AI</span>
        </h3>
        <p>
          As the BBC's technology division D+E is responsible for delivering world class content to its audiences.
          Within it, the <span class="is-name">Voice + AI</span> team is leading the change towards audience experiences
          in an AI first world.
        </p>
        <ul>
          <li class="stand-out">
            <h3>
              Showcase: Conversational data platform
            </h3>
            <p>
              To underpin the capabilities of <a
                href="https://www.bbc.co.uk/blogs/aboutthebbc/entries/45d6b6c9-9f40-4f90-8616-37d5a294490f"
                target="_blank">Beeb</a>, my team designed and built a data platform with focus on conversational
              analytics. Balancing the need for data and privacy, we enabled improvements in content
              discovery, end-to-end latency and social conversations.
            </p>
            <h5>Applied skills</h5>
            <ul>
              <li>Data pipelines</li>
              <li>AWS &amp; GCP</li>
              <li>Conversational AI</li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Responsibilities</h4>
            <ul>
              <li>Software development</li>
              <li>Data architecture &amp; engineering</li>
              <li>DevOps, Infrastructure as Code (AWS CDK)</li>
              <li>Enabling domain knowledge across the team</li>
              <li>Rapid prototyping to explore new solutions</li>
              <li>
                <a href="https://www.bbc.co.uk/blogs/internet/entries/7a072979-8e30-49c6-a44e-a5bed647e12c"
                  target="_blank">Remote working</a>
              </li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Projects
              <small>(selection)</small>
            </h4>
            <ul>
              <li>Beeb - The voice assistant from the BBC</li>
              <li>BBC for Alexa</li>
              <li>BBC Kids for Alexa</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <div class="time">
          <time datetime="2015-03-01">3/2015</time>
          -
          <time datetime="2018-09-14">9/2018</time>
        </div>
        <h3>
          Prefer, Wellington,&nbsp;New Zealand<br>
          Lead Web Developer
        </h3>
        <p>
          Prefer is a Wellington based digital agency with a focus creating conversations that matter. After their
          latest pivot they focus on Conversational AI and application development. Prefer is a member of City.AI
          Wellington.
        </p>
        <ul>
          <li class="stand-out">
            <h3>
              Showcase: Zwerm<br>
              <small>Enterprise level bot force management</small>
            </h3>
            <p>
              Developed from an internal tool to a SaaS product, I have designed Zwerm's enterprise level microservice
              architecture and REST API. The service uses AI and machine learning services to process data and enrich
              conversations.
              Zwerm is <a href="https://zwerm.io" target="_blank">now available in public beta.</a>
            </p>
            <h5>Applied skills</h5>
            <ul>
              <li>Enterprise microservice architecture</li>
              <li>API design</li>
              <li>Applied AI</li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Responsibilities</h4>
            <ul>
              <li>Development team lead</li>
              <li>Application architecture</li>
              <li>Size estimation</li>
              <li>Delivery management</li>
              <li>Infrastructure management</li>
              <li>Business development</li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Projects &amp; clients
              <small>(selection)</small>
            </h4>
            <ul>
              <li>Zwerm.io</li>
              <li>Royal Society of New Zealand</li>
              <li>Relm (Jumping Fox Interactive)</li>
              <li>BringIt (New Zealand Post)</li>
              <li>Mars Switzerland</li>
            </ul>
          </li>
          <li class="stand-out">
            <h3>Showcase: Agile development for BringIt</h3>
            <p>After a prototyping phase, the development speed need to be improved. As scrum master I was responsibly
              for setting up new agile processes to facilitate internal and external adoption of the new business goals.
              One particular achievement was to create a robust CI/CD pipeline. During this very busy phase, we launched
              new features like REST API, business accounts and classified offers. In 2017, the project made
              <a href="https://www.theguardian.com/world/2017/apr/04/chicken-run-new-zealand-post-will-start-delivering-kfc-to-beat-mail-slump"
                target="_blank">international headlines</a> when a deal with KFC was struck.
            </p>
            <h5>Applied skills</h5>
            <ul>
              <li>Client relations</li>
              <li>Scrum master</li>
              <li>Continuous Integration</li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Achievements</h4>
            <ul>
              <li>Growing the development team from two to six developers</li>
              <li>Implementation of agile development and continuous integration processes</li>
              <li>Design and implementation of enterprise level cloud projects</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <div class="time">
          <time datetime="2017-08-01">08/2017</time>&nbsp;-&nbsp;<time datetime="2017-10-20">10/2017</time>
        </div>
        <h3>
          Sendu Limited,&nbsp;Wellington<br>
          Director/CTO
        </h3>
        <p>
          Sendu was a start-up set out to revolutionise the food delivery market. Based on software original developed
          for NZPost the company was spun out as a separate entity, to find new solutions apart from the traditional
          postal
          business.
        </p>
        <ul>
          <li class="stand-out">
            <h3>Showcase: Launching Sendu</h3>
            <p>We had only one month to launch the software adjusted for its new use. We moved the infrastructure to
              Docker, released a new Android app and added new features. During that time I served as main product owner
              and project manager. All requirements and planning were decided on in stakeholder meetings. Sendu was
              successfully launched at 01/08/2018</p>
            <h5>Applied skills</h5>
            <ul>
              <li>Android App</li>
              <li>Docker</li>
              <li>Project management</li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Responsibilities</h4>
            <ul>
              <li>Director of operations</li>
              <li>Platform development</li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Achievements</h4>
            <ul>
              <li>Taking on business responsibilities within the start-up</li>
              <li>Launch of the platform within a short time frame</li>
              <li>Developing an API based enterprise model</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <div class="time">
          <time datetime="2007">2007</time>&nbsp;-&nbsp;<time datetime="2015">2015</time>
        </div>
        <h3>Freelance Web&nbsp;Developer,&nbsp;Germany</h3>
        <ul>
          <li class="group left-setted">
            <h4>Responsibilities</h4>
            <ul>
              <li>Full stack web development</li>
              <li>Consulting</li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Projects
              <small>(selection)</small>
            </h4>
            <ul>
              <li>Medienraffinerie (Consulting)</li>
              <li>GALERIE.WESSINGERUNDPENG.COM</li>
              <li>WorldOfPlayers.de</li>
              <li>Frogsystem 2 CMS &amp; Installer Tool</li>
              <li>BSFV Club Administration System (Consulting)</li>
            </ul>
          </li>
          <li class="stand-out">
            <h3>
              Showcase: Interactive Landing page<br>
              <small>Universität Tübingen</small>
            </h3>
            <p>The client was filming a new series of corporate videos. They asked me the create a prototype for a
              &ldquo;stunning interactive landing page&rdquo;. I've developed a reactive network of nodes which formed
              the shape of the University's logo. Certain nodes were accented and held the videos. The really liked the
              idea but unfortunately the whole project was canned later.</p>
            <h5>Applied skills</h5>
            <ul>
              <li>Rapid prototyping</li>
              <li>Interactive design</li>
              <li>Client relations</li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Achievements</h4>
            <ul>
              <li>Managing my own business, dealing with clients and other contractors</li>
              <li>Advanced the development of an open source CMS</li>
            </ul>
          </li>
        </ul>
      </li>


      <li>
        <div class="time">
          <time datetime="2012-09">09/2012</time>
          -
          <time datetime="2014-10">10/2014</time>
        </div>
        <h3>
          21TORR GmbH, Reutlingen,&nbsp;Germany<br>
          Junior Software Developer
        </h3>
        <p>
          21TORR is a German agency for digital branding, mobile solutions and e-business. Based in the Stuttgart region
          and Hamburg, 21TORR creates award winning solutions for their international clients (e.g. Audi, BASF,
          MairDumont, Turkish Airlines).
        </p>
        <ul>
          <li class="stand-out">
            <h3>
              Showcase: Optimizing platform conversions
            </h3>
            <p>
              ICONY was suspected to miss out on conversions. First I had to add conversion tracking across
              the platform and set-up relevant goal funnels. To decrease the number of drop-offs, I identified
              key pages in the sales flow and used A/B testing to validate proposed changes. With this approach
              the conversion rate improved by over 100% and subsequently enabled us to implement a viable SEM strategy.
            </p>
            <h5>Applied skills</h5>
            <ul>
              <li>Conversion tracking</li>
              <li>Multivariate testing</li>
              <li>SEO &amp; SEM</li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Responsibilities</h4>
            <ul>
              <li>Front end &amp; back end developer</li>
              <li>Technical documentation</li>
              <li>Cross-platform Quality Assurance</li>
              <li>Web Analytics and Search Engine Marketing</li>
              <li><em>(Letter of Recommendation available on request)</em></li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Projects</h4>
            <ul>
              <li>ICONY</li>
              <li>InteriorPark.</li>
            </ul>
          </li>
          <li class="group left-setted">
            <h4>Achievements</h4>
            <ul>
              <li>Complete responsive relaunch of the ICONY platform during full operation</li>
              <li>Introduced A/B testing as a day-to-day tool in the decision process</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <div class="time">
          <time datetime="2010-10">10/2010</time>
          -
          <time datetime="2012-07">7/2012</time>
        </div>
        <h3>
          Eberhard&nbsp;Karls University, Tübingen,&nbsp;Germany<br>
          Tutor
        </h3>
        <p>
          University of Tübingen is a public research university. The Department of Computer Science performs research
          in the core areas of computer science as well as in bioinformatics, media informatics, and cognitive science.
        </p>
        <ul>
          <li class="group left-setted">
            <h4>Responsibilities</h4>
            <ul>
              <li>Tutoring students in workshops and exercises</li>
              <li>Grading assignments</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <h2>Education &amp; Qualifications</h2>
    <ul>
      <li class="group">
        <time datetime="2020-12-05">12/2020</time>
        <h3>Professional Scrum Master I</h3>
        <p>
          Fundamental level of Scrum mastery and understanding of Scrum as described in the Scrum Guide and how to apply
          Scrum in Scrum Teams.<br>
          <a href="https://www.scrum.org/certificates/600782" target="_blank" rel="noopener">View Certificate</a> (use
          mail@moritzkornher.de for verification)
        </p>
      </li>
      <li class="group">
        <time datetime="2013-10">10/2013</time>
        <h3>B.Sc. Bachelor of Science in Computer Science and Media</h3>
        <p>
          with focus on Computer Graphics and Usability<br>
          at Eberhard&nbsp;Karls&nbsp;University, Tübingen,&nbsp;Germany<br>
          <strong>Grade</strong> 1.9 (equals to&nbsp;A-)
        </p>
      </li>
      <li class="stand-out">
        <h3>
          Showcase: Bachelor's Thesis<br>
          <small>&raquo;Analysis and Comparison of WebGL Frameworks&laquo; (2013)</small>
        </h3>
        <p>Having identified WebGL as a major future technology, I analyse and compare three frameworks to show
          whether they are helpful for developing WebGL applications. This is achieved on basis of a demo application,
          which I implemented with all frameworks. The evaluation takes into account factors like software development
          concepts, functional scope, community support and documentation.</p>
        <p>
          <strong>Grade</strong> 1.0 (equals to&nbsp;A+)<br>
          You can <a href="files/kornher_analyse_und_vergleich_von_webgl-frameworks.pdf" target="_blank">read the
            thesis online in German</a>.
        </p>
      </li>
    </ul>


    <h2>General Skills</h2>
    <ul>
      <li class="group left-setted">
        <h4>Language&nbsp;Skills</h4>
        <ul class="list-inline">
          <li>German (native speaker)</li>
          <li>English (fluent)</li>
          <li>French (limited)</li>
        </ul>
      </li>
      <li class="group left-setted">
        <h4>General&nbsp;Development</h4>
        <ul class="list-inline">
          <li>Revision control (SVN, GIT)</li>
          <li>Agile development (Scrum, Kanban)</li>
          <li>Build automation</li>
          <li>Continues integration/delivery</li>
          <li>Unit testing</li>
          <li>Integration testing</li>
          <li>Dependency management</li>
          <li>Relational databases</li>
          <li>Transactional databases</li>
          <li>Usability testing</li>
        </ul>
      </li>
      <li class="group left-setted">
        <h4>Software&nbsp;Engineering</h4>
        <ul class="list-inline">
          <li>Cloud architecture</li>
          <li>Dev ops</li>
          <li>API design</li>
          <li>Serverless</li>
          <li>Microservices</li>
          <li>OOP</li>
          <li>Functional programming</li>
        </ul>
        <ul class="list-inline">
          <li>PHP</li>
          <li>JavaScript (advanced)</li>
        </ul>
        <ul class="list-inline">
          <li>Java</li>
          <li>C</li>
          <li>Scheme</li>
          <li>Python (intermediate)</li>
        </ul>
        <ul class="list-inline">
          <li>C#</li>
          <li>C++</li>
          <li>Perl (basic)</li>
        </ul>
      </li>
      <li class="group left-setted">
        <h4>Web&nbsp;Technologies</h4>
        <ul class="list-inline">
          <li>PHP</li>
          <li>Laravel</li>
          <li>WordPress</li>
          <li>REST APIs</li>
          <li>GraphQL</li>
          <li>SQL</li>
          <li>NoSql</li>
          <li>Node.js</li>
          <li>Deno</li>
          <li>React</li>
          <li>JavaScript</li>
          <li>AngularJS</li>
          <li>AWS stack</li>
          <li>AWS CDK</li>
          <li>Unix admin</li>
          <li>Docker</li>
        </ul>
      </li>
      <li class="group left-setted">
        <h4>Web&nbsp;Analytics &amp; Online&nbsp;Marketing</h4>
        <ul class="list-inline">
          <li>Multivariate testing</li>
          <li>Google 360 Suite</li>
          <li>Matomo/Piwik</li>
          <li>SEO/SEM</li>
        </ul>
      </li>
      <li class="group left-setted">
        <h4>Media Design</h4>
        <ul>
          <li>Advanced knowledge of typography, colour &amp; style guides and design rules</li>
          <li>Basic skills with the Adobe Creative Suite (Photoshop, InDesign, Illustrator, Premiere)</li>
        </ul>
      </li>

    </ul>


    <h2>Volunteer Work</h2>
    <ul>
      <li class="group left-setted">
        <h4>Boy scouts</h4>
        <p>
          Leader of a boy scouts group;
          Organising numerous camps with up to 500 youths;
          Leading multi-day hikes with parties up to 50 teenagers
        </p>
      </li>
      <li class="group left-setted">
        <h4>Alternative service</h4>
        <p>
          Compulsory alternative service at welfare institution Paulinenpflege Winnenden in 2008;
          Supporting hearing impaired and autistic students in a specialized eduction center
        </p>
      </li>
      <li class="group left-setted">
        <h4>Other activities</h4>
        <p>
          Managing an online gaming community since 2005
        </p>
      </li>
    </ul>

    <h2>Personal interests</h2>
    <ul>
      <li class="group left-setted">
        <p>
          Yoga, Snowboarding, Board games<br>
          Long distance hiking; In 2012, I hiked on the Camino from Germany to Spain (about 1900km)
        </p>
      </li>
    </ul>

  </div>

  <nav class="nav-popup">
    <a class="prev start" href="#start">
      {{> nav-start}}
    </a>
  </nav>
</section>
