---
layout: section.hbs
contracts:
-
  company: Administrate
  country: uk
  role: Staff Software Engineer
  year: 2021
  currency: GBP
  salary: 70,000
  hours: |
    32 hrs,
    4 days
  benefits: |
    Pension: 2%
-
  company: BBC
  country: uk
  role: Senior Software Engineer
  year: 2019
  currency: GBP
  salary: 50,000
  hours: 35 hrs
  benefits: |
    Pension: 7%
-
  company: BBC
  country: uk
  role: Senior Software Engineer
  year: 2018
  currency: GBP
  salary: 45,000
  hours: 35 hrs
  benefits: |
    Pension: 7%
-
  company: Prefer
  country: nz
  role: Lead Web Developer
  year: 2017
  currency: NZD
  salary: 85,000
  hours: 40 hrs
  benefits:
-
  company: Prefer
  country: nz
  role: Lead Web Developer
  year: 2015
  currency: NZD
  salary: 65,000
  hours: 40 hrs
  benefits:
-
  company: Prefer
  country: nz
  role: Senior Web Developer
  year: 2015
  currency: NZD
  salary: 50,000
  hours: 40 hrs
  benefits:
-
  company: 21Torr
  country: de
  role: Junior Software Developer
  year: 2012
  currency: EUR
  salary: 27,000
  hours: 40 hrs
  benefits:
---
<section class="page deck is-above is-out" id="pay-report">
  <div class="content">
    <h2 class="boxed"><span>Pay Transparency Report</span></h2>
    <table class="data">
        <thead>
            <tr>
                <th>Role / Company</th>
                <th>Year</th>
                <th>Salary p.a.</th>
                <th>Hours</th>
                <th>Benefits</th>
                <th class="clear"></th>
            </tr>
        </thead>
        <tbody>
            {{#each contracts}}
                <tr>
                    <td class="role">
                      {{role}}<br>
                      <sub>
                        <span class="flag flag-{{country}}" title="Flag of {{country}}">
                        </span>&nbsp;{{company}}<span class="year">, {{year}}</span>
                      </sub>
                    </td>
                    <td class="year">{{year}}</td>
                    <td class="salary">
                      {{currency}} {{salary}}<br>
                      <sub class="hours">{{hours}}<br>{{benefits}}</sub>
                    </td>
                    <td class="hours line-break">{{hours}}</td>
                    <td class="benefits break">{{benefits}}</td>
                    <td class="clear"></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    <sub>
      All hours are weekly flexitime with no overtime paid.
      Pension contributions are percentage points above mandatory contributions.
    </sub>
  </div>

  <nav class="nav-popup">
    <a class="down start" href="#start">
      {{> nav-start}}
    </a>
  </nav>  
</section>
