---
layout: section.hbs
profiles:
- {name: GitHub, slug: github, url: https://github.com/mrgrain}
- {name: Bitbucket, slug: bitbucket, url: https://bitbucket.org/mrgrain/}
- {name: StackOverflow, slug: stack-overflow, url: http://stackoverflow.com/users/3778831/mrgrain}
- {name: LinkedIn, slug: linkedin, url: https://linkedin.com/pub/momo-kornher/b2/328/881}
- {name: Twitter, slug: twitter, url: https://twitter.com/mrgrain}
---
<section class="page deck is-left is-out" id="profiles">
  <div class="content">
    <h2 class="boxed"><span>Developer Profiles</span></h2>
    {{#ul profiles class="upper"}}<span class="fa fa-{{slug}}"></span>&nbsp;<a class="bracked" href="{{url}}" target="_blank">{{name}}</a>{{/ul}}
  </div>

  <nav class="nav-popup">
    <a class="next start" href="#start">
      {{> nav-start}}
    </a>
  </nav>  
</section>
