---
layout: section.hbs
---
<section class="page is-out is-beneath" id="projects">
  <h1 class="hidden">Projects</h1>

  {{#each tags}}
    {{#is tag "project"}}
      {{#withSort pages "data.order"}}
        <section class="project {{data.color}}" id="project-{{data.slug}}">
          <div class="spacer">
            <div class="image{{#if data.imageClass}} {{data.imageClass}}{{/if}}" style="background-image:url('images/{{data.slug}}_main.jpg');">
            <div class="wrapper">
              <div class="content">
                <div class="boxed important upper">
                  <span>{{data.year}}</span> <span>{{data.type}}</span>
                </div>
                <h2>
                  {{data.title}}
                  {{#if data.subtitle}}
                  <br><small>{{data.subtitle}}</small>
                  {{/if}}
                </h2>
                {{#ul data.skills class="boxed upper skills"}}{{.}}{{/ul}}
                {{#markdown}}
                  {{page }}
                {{/markdown}}
                {{#if data.links}}
                  {{#ul data.links class="links upper"}}<a href="{{. }}" class="underlined" target="_blank">{{. }}</a><br>{{/ul}}
                {{/if}}
                {{#if data.offline}}
                  {{#ul data.offline class="links upper"}}<span class="underlined">{{. }} (offline)</span><br>{{/ul}}
                {{/if}}
                </div>
              </div>
            </div>
          </div>
        </section>
      {{/withSort}}
    {{/is}}
  {{/each}}

  <nav class="nav-popup">
    <a class="up start" href="#start">
      {{> nav-start}}
    </a>
  </nav>
</section>
