---
layout: section.hbs
---
<section class="page deck is-in" id="start">
  <div class="content">
    <h2 class="boxed"><span>{{package.person}}</span></h2>
    <h1 class="boxed">
      <span>{{package.role}}</span><br>
      <small>Agile Architecture &amp; Dev Ops</small>
    </h1>

    <ul class="boxed upper">
      <li>AI &amp; bots</li>
      <li>AWS</li>
      <li>APIs</li>
      <li>Node</li>
      <li>PHP</li>
      <li>Docker</li>
      <li>AWS</li>
    </ul>
  </div>

  <aside class="photo-credit boxed">
    <span>Photo taken by the amazing <a href="https://www.instagram.com/jobrown.photo/"
        target="_blank">Jo&nbsp;Brown</a>&nbsp;<small>❤️️</small></span>
  </aside>

  <nav class="nav-popup">
    <a class="prev profiles" href="#profiles">
      {{> nav-profiles}}
    </a>
    <a class="next mycv" href="#mycv">
      {{> nav-cv}}
    </a>
    <a class="up pay-report" href="#pay-report">
      {{> nav-pay-report}}
    </a>
    <a class="down projects" href="#projects">
      {{> nav-projects}}
    </a>
  </nav>

</section>
