<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{assets}}/css/{{package.name}}.css">

<title>{{package.person}} - {{package.role}}</title>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#5d19ab">
<meta name="theme-color" content="#5d19ab">

<link rel="publisher" href="https://plus.google.com/100857085935028497563/">
<meta name="description" content="{{package.longdesc}}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@mrgrain">
<meta name="twitter:title" content="{{package.description}}">
<meta name="twitter:description" content="{{package.longdesc}}">
<meta name="twitter:image:src" content="https://moritzkornher.de/images/portfolio_small.jpg">
<meta property="og:title" content="{{package.description}}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://moritzkornher.de">
<meta property="og:image" content="https://moritzkornher.de/images/portfolio_small.jpg">
<meta property="og:description" content="{{package.longdesc}}">
<meta property="og:site_name" content="{{package.description}}">
<meta property="fb:admins" content="100001055426654">


