<span class="icon-wrap"><svg
    class="icon"
    height="32"
    width="32"
    viewbox="0 0 64 64"
  ><use xlink:href="#arrow"></use></svg></span>
<div>
  <span>Curriculum Vitae</span>
  <h3>My old- fashioned CV</h3>
</div>