<span class="icon-wrap"><svg
    class="icon"
    height="32"
    width="32"
    viewbox="0 0 64 64"
  ><use xlink:href="#arrow"></use></svg></span>
<div>
  <span>Home</span>
  <h3>Back to<br />the home screen</h3>
</div>