<span class="icon-wrap"><svg
    class="icon"
    height="32"
    width="32"
    viewbox="0 0 64 64"
  ><use xlink:href="#arrow"></use></svg></span>
<div>
  <span>Pay Transparency</span>
  <h3>My income over time</h3>
</div>