{{{aggregate "tmp/pages/start.html"}}}
{{{aggregate "tmp/pages/pay-report.html"}}}
{{{aggregate "tmp/pages/projects.html"}}}
{{{aggregate "tmp/pages/profiles.html"}}}
{{{aggregate "tmp/pages/cv.html"}}}